__pycache__/
*.py[cod]
venv/
Pipfile
Pipfile.lock
annotation/analysis/raw_generations
annotation/analysis/figures
annotation/analysis/results
images/
generation/generations
generation/process_datasets/AI-Dungeon
generation/process_datasets/New-York-Times
generation/process_datasets/recipe1M_layers
generation/process_datasets/Reddit-Stories
generation/process_datasets/speeches
generation/process_datasets/WikiHow
.DS_Store
