<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Real or Fake Text</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      const all_sentences = {{ sentences|safe }};
      const boundary = {{boundary}};
      const max_sentences = {{max_sentences}};
      const text_id = "{{ text_id }}";
      const name = "{{ name }}";
      let current_sentence = 1;

      // helper function for adding new sentences
      redraw_sentences = current_sentence => {
        const sentences = all_sentences.slice(0, current_sentence);
        let cards_html = "";

        for (let i = 0; i < sentences.length; i++) {
          const card = '<div class="card" id="' + i.toString() + '" style="margin-bottom: 0.5rem"> <div class="card-body"> ' + sentences[i] +  '</div> </div> ';
          cards_html += card;
        }

        $("#cards").html(cards_html);
        $("#remaining").html((max_sentences - current_sentence).toString() + " sentences remaining") 
      }

      // helper function for adding highlights and emojis
      reveal_solutions = () => {
        let cards_html = "";

        for (let i = 0; i < all_sentences.length; i++) {
          const emoji = ((i < boundary) ? "🙋‍♀️" : "🤖");
          const card = (
              '<div class="card" id="' +
              i.toString() +
              '" style="margin-bottom: 0.5rem"> <div class="card-body"><table><tr><td><h1 style="margin-right: 1rem">' +
              emoji +
              "</h1></td><td>" +
              all_sentences[i] + 
              '</td></tr></table></div> </div> ');
          cards_html += card;
        }

        $("#cards").html(cards_html);
        $("#remaining").html("All sentences displayed.");
        
        const current_sentence_index = current_sentence - 1
        $('#' + current_sentence_index.toString()).addClass('bg-info');
        $('#' + current_sentence_index.toString()).css('color', 'white');

        if (boundary > current_sentence_index) {
          $("#result-text").html("Good try! You guessed machine-generated but that sentence was still human-written.")
        } else if (boundary == current_sentence_index) {
          $("#result-text").html("Nice job! You guessed correctly.")
        } else {
          $("#result-text").html(`Good try! The machine-generated sentences are highlighted. Your guess was ${current_sentence_index - boundary} sentence(s) away from the true boundary.`)
        }

        $("#analysis").hide();
        $("#reveal").show();
      }

      // user interaction logic
      $(document).ready(function() {
        redraw_sentences(current_sentence);

        $("#selection").show();
        $("#analysis").hide();
        $("#reveal").hide();
        $("#human").hide();

        // adding new sentence
        $("#next").click(function() {
          current_sentence += 1;

          if (current_sentence <= max_sentences) {
            redraw_sentences(current_sentence);

            if (current_sentence == max_sentences) {
              $("#next").hide();
              $("#human").show();
            }
          }
        });

        $("#machine").click(function() {
          $("#selection").hide();
          $("#analysis").show();
          $("#revision").show();
          $("#revision").val(all_sentences[current_sentence - 1]);
        });

        $("#human").click(function() {
          current_sentence = -1;
          $("#revision-form").hide();
          $("#selection").hide();
          $("#analysis").show();
        });

        // processing annotator decision
        $("#submit").click(function(e) {
          e.preventDefault();

          // get checkbox values and reset
          const grammar = $('#grammar').is(":checked");
          const repetition = $('#repetition').is(":checked");
          const entailment = $('#entailment').is(":checked");
          const sense = $('#sense').is(":checked");
          const revision = $("#revision").val();
          
          $("#note").val('');
          $('input[type=checkbox]').each(function() { 
            this.checked = false; 
          }); 

          // make ajax request to log annotation
          const url = '{% url "save" %}';
          $.ajax({
            type: 'POST',
            url: url,
            data: {
              "boundary": current_sentence,
              "text": text_id,
              "name": name,
              "grammar": grammar,
              "repetition": repetition,
              "entailment": entailment,
              "sense": sense,
              "revision": revision
            },
            success: function (response) {
              reveal_solutions();
            }, 
            error: function (error) {
              console.log(error);
            }
          });
        });
      });
    </script>
  </head>
  
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light" style="padding: 2rem; padding-bottom: 1rem;">
        <a class="navbar-brand text-muted" href="/">
          <strong> Real or Fake Text? </strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% if user.is_authenticated %}
              <li class="nav-item"> <a class="nav-link" href="/annotate">Play</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/profile/{{request.user.username}}">Profile</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/logout">Log Out</a> </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      
      <div class="row">
        <div class="col-md" />
        <div class="col-md" style="padding: 2rem">
          <h2 class="text-muted"> <strong>Is the following text human written or machine generated?</strong> </h2>
          <p class="text-muted" style="margin-bottom: 1rem;">
            Your task is to decide at what point (if at all) the sample text begins to be written by a computer. Please click the blue button <strong> as soon as</strong> you are confident.
            The boundaries are not uniformly or normally distributed, so treat every single instance in isolation.
          </p>
          
          
          <br />
          <small class="text-muted">Human-Written Prompt:</small>

          <p style="margin-top: 0.5rem">{{prompt.body}}</p>

          <small class="text-muted">Sample Text:</small>

          <div style="margin-top: 0.5rem" id="cards"></div>

          <small id="remaining" class="text-muted"></small>
          <br /> <br />

          <div class="card" style="margin-bottom: 2rem">
            <div class="card-body" id="selection">
              <p class="text-muted">Select An Option:</p>
              <button type="button" id="machine" type="button" class="btn btn-info">
                This sentence is machine-generated.
              </button>
              <button id="next" type="button" class="btn btn-secondary">It's all human-written so far.</button>
              <button type="button" id="human" type="button" class="btn btn-primary">
                The entire thing was human-written.
              </button>
            </div>

            <div class="card-body" id="analysis">
              <p class="text-muted">
                Thank you for your response!
              </p>
              <form>
                <div id="revision-form">
                  <small class="text-muted">Suggest a revision for the sentence you selected as machine-generated:</small>
                  <input type="text" id="revision" name="revision" style="margin-bottom: 1rem; margin-top: 1rem" class="form-control" placeholder="TODO: auto-complete" />
                </div>
                <button type="button" id="submit" class="btn btn-info">Reveal</button>
              </form>
            </div>

            <div class="card-body" id="reveal">
              <p class="text-muted" id="result-text"> </p>
              <a class="btn btn-primary" href="/annotate/">Continue</a>
            </div>
          </div>
        </div>
        <div class="col-md" />
      </div>
    </div>
  </body>
</html>
