{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8" style="padding: 2rem">
      <br />
      <h1 class="text-muted"> <strong> Join RoFT </strong> </h1>
      <p class="text-muted mt-2">
        Real or Fake Text is a free game that supports academic research in artificial intelligence.
        By logging in, your progress will be saved, and we'll make sure you don't see the same question twice.
        You'll also be able to check out stats on how you're doing at the game.
      </p>

      <div class="row">
        <div class="col-md-12">
          <br />
          <h2 class="text-muted"> <strong> Log In </strong> </h2>
          <p class="text-muted" style="font-weight: 300">Welcome back!</p>
          <form style="width: 80%" action="/login/" method="POST">
            {% if 'login_error' in request.GET %}
              <p class="text-danger">Username and/or password was incorrect.</p>
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
              <label class="text-muted" for="exampleInputEmail1">Username</label>
              <input name="username"  ype="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username here...">
            </div>
            <div class="form-group">
              <label class="text-muted" for="exampleInputPassword1">Password</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password here...">
            </div>
            <p><a href="/signup">Don't have an account? Sign up here!</a></p>
            <button type="submit" class="btn btn-info">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
