{% extends 'base.html' %}

{% block content %}
  <style>
    tr.clickable {
        cursor: pointer;
    }

    tr.clickable:hover {
        background-color: #D3D3D3;
    }
  </style>

  <div class="row" style="padding: 1rem">
    <div class="col-md" />
    <div class="col-md-6" style="padding: 1rem">
      <h1 class="text-muted"> <strong> Leaderboard </strong> </h1>
      <p style="margin-bottom: 1rem" class="text-muted">RoFT's top players:</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          {% for username, score in sorted_usernames %}
            <tr class="clickable" onclick="window.location='/profile/{{username}}';">
              <th scope="row">{{username}}</th>
              <td>{{score}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p style="margin-top: 1.5rem">
        <a href="/">Want to improve? Play another round.</a>
      </p>
    </div>
    <div class="col-md" />
  </div>
{% endblock %}
