<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Annotation Tool</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md" />
        <div class="col-md" style="padding: 2rem">
          <br /> 
          <h1 class="text-muted"> <strong> Real or Fake Text? </strong> </h1>
          <p class="text-muted" style="margin-bottom: 2rem;">
            You will be presented a human-written prompt and a sequence of sentences that continue the prompt's text. At some point after the prompt, the text will begin to be written by a computer. 
            Your goal is to select whether you think the text is written by a human or a computer <strong>as soon as you are confident in your choice</strong>.

            Some signs of computer-generated text include poor grammar, non-sensical meaning, and frequent repetition.
            <br /> <br />
            The goal of this research project is to understand what makes human-written text sound good and what makes computer-generated text sound bad.
            If you're familiar with the Turing Test, then you will be playing our subject in a similar experiment! 
            Feel free to ask questions if you are having difficulty with completing the experiment, or if there were any trials in particular that you thought were notable.
          </p>
          
          <div class="row">
            <div class="col-md-6">
              <h2 class="text-muted"> <strong> Sign Up </strong> </h2>
              <p class="text-muted" style="font-weight: 300">It's free to participate!</p>
              <form style="width: 80%" action="/signup/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label class="text-muted" for="exampleInputEmail1">Email address</label>
                  <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email here">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label class="text-muted" for="exampleInputEmail1">Username</label>
                  <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name here">
                </div>
                <div class="form-group">
                  <label class="text-muted" for="exampleInputPassword1">Password</label>
                  <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password here">
                </div>
                <button type="submit" class="btn btn-info">Sign Up</button>
              </form>
            </div>
            <div class="col-md-6">
              <h2 class="text-muted"> <strong> Log In </strong> </h2>
              <p class="text-muted" style="font-weight: 300">Welcome back!</p>
              <form style="width: 80%" action="/login/" method="POST">
                {% if 'login_error' in request.GET %}
                  <p class="text-danger">Username or password were incorrect.</p>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                  <label class="text-muted" for="exampleInputEmail1">Username</label>
                  <input name="username"  ype="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email here">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label class="text-muted" for="exampleInputPassword1">Password</label>
                  <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password here">
                </div>
                <button type="submit" class="btn btn-info">Log In</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md" />
      </div>
    </div>
  </body>
</html>