<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real or Fake Text?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding: 1rem">
          <br /> 
          <h1 class="text-muted"> <strong> Real or Fake Text? </strong> </h1>
          <p class="text-muted" style="margin-bottom: 2rem;">
            How good are you (and other humans) at knowing when text has been written by a computer?
            How many sentences can a computer write before it no longer has you fooled?
            Is the computer better at generating convincing text if the topic is news, or short stories, or maybe presidential speeches?
            And lastly, when you notice text has a mistake in it that gives it away as computer-generated, how easy is it to fix that mistake?
            <br/> <br />
            In this research project, we're asking for YOUR help to answer these questions.
            If you're familiar with the Turing Test, you'll be participating in a similar experiment!
            <br />

            <img width="300" src="https://kirubarajan.nyc3.digitaloceanspaces.com/assets/undraw_Artificial_intelligence_oyxx.png" />
            
            <br />
          </p>

          <h2 style="margin-top: 1rem" class="text-muted"><strong>Why participate?</strong></h2>
          <p class="text-muted">
            Ever see <a href="https://www.youtube.com/watch?v=Umc9ezAyJv0">Blade Runner?</a> 
            In a world where artificial intelligence powers more and more of our interactions, it's good 
            practice to stay vigilant online. Plus, we've gamified the experience so that you can have 
            fun while doing it! Checkout <a href="/leaderboard">our leaderboard</a> to challenge the AI world.
          </p>

          <h2 style="margin-top: 2rem" class="text-muted"><strong>Instructions</strong></h2>
          <p class="text-muted">
            You will be presented with the starting sentence of an article, story, or other document.
            Then, you be shown continuation sentences one at a time.
            As some point, the sentences will transition from being written by a human writer to being generated by the computer.
            Your goal is to guess this boundary. 
          </p>

          <h3 style="margin-top: 2rem" class="text-muted"><strong>Common Problems in Generated Text</strong></h3>
          <table class="table">
            <tr>
            <th>Problem</th>
            <th>Example</th>
            </tr>
            <tr>
              <td>Repetition</td>
              <td>-<code>The cat slept on the window and on the window and on the window.</code><br/>-<code>To make a good cup of tea, you first have to make a good cup of tea.</code></td>
            </tr>
            <tr>
              <td>Common-sense errors</td>
              <td>-<code>The unicorn had four horns.</code><br/>-<code>Shortly after sunset, the sun was bright in the sky.</code></td>
            </tr>
            <tr>
              <td>Factual errors</td>
              <td><code>The president of the United States is Clark Kent.</code></td>
            </tr>
            <tr>
              <td>Incoherency and topic drift</td>
              <td>Consecutive sentences rapidly switch between topics so that there is little or no logical progression between ideas.</td>
            </tr>
            </ul>
          <table>

          <div class="row">
            <div class="col-md-6">
              <br />
              <h2 class="text-muted"> <strong> Sign Up </strong> </h2>
              <p class="text-muted" style="font-weight: 300">It's free to participate!</p>
              <form style="width: 80%" action="/signup/" method="POST">
                {% if 'signup_error' in request.GET %}
                  <p class="text-danger">Username and/or email is already in use.</p>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                  <label class="text-muted" for="exampleInputEmail1">Email address</label>
                  <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email here">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label class="text-muted" for="exampleInputEmail1">Username</label>
                  <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name here">
                </div>
                <div class="form-group">
                  <label class="text-muted" for="exampleInputPassword1">Password</label>
                  <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password here">
                </div>
                <button type="submit" class="btn btn-info">Sign Up</button>
              </form>
            </div>
            <div class="col-md-6">
              <br />
              <h2 class="text-muted"> <strong> Log In </strong> </h2>
              <p class="text-muted" style="font-weight: 300">Welcome back!</p>
              <form style="width: 80%" action="/login/" method="POST">
                {% if 'login_error' in request.GET %}
                  <p class="text-danger">Username and/or password was incorrect.</p>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                  <label class="text-muted" for="exampleInputEmail1">Username</label>
                  <input name="username"  ype="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email here">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label class="text-muted" for="exampleInputPassword1">Password</label>
                  <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password here">
                </div>
                <button type="submit" class="btn btn-info">Log In</button>
              </form>
            </div>
            <div class="col-md-12" style="margin-top: 3rem">
              <p class="text-muted">
                Made by researchers at the University of Pennsylvania.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md" />
      </div>
    </div>
  </body>
</html>
