<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real or Fake Text?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104989157-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-104989157-3');
    </script>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light" style="padding: 2rem; padding-bottom: 1rem;">
        <a class="navbar-brand text-muted" href="/">
          <strong> Real or Fake Text? </strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% if user.is_authenticated %}
              <li class="nav-item"> <a class="nav-link" href="/play">Play</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/onboard">Help</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/leaderboard">Leaderboard</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/profile/{{request.user.username}}">Profile</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/logout">Log Out</a> </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="row" style="padding: 1rem">
        <div class="col-md" />
        <div class="col-md-6" style="padding: 1rem">
          <h1 class="text-muted"> <strong> {{this_user.username}} </strong> </h1>
          {% if is_turker %}
            <a class="badge badge-info text-white" style="margin-bottom: 0.5rem">Mechanical Turk User</a>
          {% endif %}
          <p style="margin-bottom: 1rem" class="text-muted">Joined on {{this_user.date_joined|date:'Y-m-d'}}</p>
          <div class="card" style="width: 100%; margin-top: 0.5rem">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Total points: <strong>{{counts.points}}</strong></li>
              <li class="list-group-item">Number total annotations: <strong>{{counts.total}}</strong></li>
              <li class="list-group-item">Number of correctly identified boundaries: <strong>{{counts.correct}}</strong></li>
              <li class="list-group-item">Average distance from correct boundary: <strong>{{distance|stringformat:".2f"}}</strong></li>
            </ul>
          </div>

          <p style="margin-top: 1.5rem">
            <a href="/play">Want to improve? Play another round.</a>
          </p>
        </div>
        <div class="col-md">
          <div class="card" style="padding: 1rem">
            <p class="text-info"><strong>How are my points calculated per annotation?</strong></p>
            <dl class="row">
              <dt class="col-sm-3">5 Points</dt>
              <dd class="col-sm-9">Guessing the correct boundary between human-written and robot-generated text</dd>
              <dt class="col-sm-3">0 Points</dt>
              <dd class="col-sm-9">Guessing before the correct boundary</dd>
              <dt class="col-sm-3">5 - x Points</dt>
              <dd class="col-sm-9">Guessing at x sentences after the correct boundary: -1 point for every sentence past the true boundary</dd>
          </dl>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
