{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8" style="padding: 2rem">
      <br />
      <h1 class="text-muted"> <strong> Join RoFT </strong> </h1>
      <p class="text-muted mt-2">Real or Fake Text is a free game that supports academic research in artificial intelligence.</p>

      <div class="row">
        <div class="col-md-12">
          <br />
          <h2 class="text-muted"> <strong> Sign Up </strong> </h2>
          <p class="text-muted" style="font-weight: 300">By signing up for an account, you'll have access to stats like the number of questions you've answered. If you do well, your username may appear on the leaderboard!</p>
          <form style="width: 80%" action="/signup/" method="POST">
            {% if error == "0" %}
              <p class="text-danger">User already exists.</p>
            {% elif error == "1" %}
              <p class="text-danger">Username must not be an email address.</p>
            {% elif error == "2" %}
              <p class="text-danger">Passwords do not match.</p>
            {% elif error == "3" %}
              <p class="text-danger">Password is too short. It must contain at least 8 characters.</p>
            {% elif error == "4" %}
              <p class="text-danger">Password is too common.</p>
            {% elif error == "5" %}
              <p class="text-danger">Password can not be entirely numeric.</p>
            {% elif error == "6" %}
              <p class="text-danger">Unknown Error</p>
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
              <label class="text-muted" for="exampleInputEmail1">Username</label>
              <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Choose a username here...">
            </div>
            <div class="form-group">
              <label class="text-muted" for="exampleInputPassword1">Password</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Choose a password here...">
            </div>
            <div class="form-group">
              <label class="text-muted" for="exampleInputPassword2">Confirm Password</label>
              <input name="password2" type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm your password...">
            </div>
            <div class="form-group">
              <label class="text-muted" for="user_source">Optional: How did you hear about RoFT?</label>
              <input name="user_source" type="text" class="form-control" id="user_source" placeholder="Twitter, arXiv, EMNLP, etc." maxlength=50>
            </div>
            <button type="submit" class="btn btn-info">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
