<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Annotation Tool</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      const all_sentences = {{ sentences|tojson }};

      // helper function for adding new sentences
      redraw_sentences = current_sentence => {
        let cards_html = "";
        const sentences = all_sentences.slice(0, current_sentence);

        sentences.forEach(sentence => {
          const card = '<div class="card" style="margin-bottom: 0.5rem"> <div class="card-body">' + sentence +  '.</div> </div> ';
          cards_html += card;
        });

        $("#cards").html(cards_html);
      }

      // user interaction logic
      $(document).ready(() => {
        let current_sentence = 1;
        redraw_sentences(current_sentence);  

        // adding new sentence
        $("#next").click(() => {
          current_sentence += 1;
          redraw_sentences(current_sentence);
        });

        // processing annotator decision
        $("#machine").click(() => {
          // get checkbox values and reset
          grammar = $('#grammar').val();
          repetition = $('#repetition').val();
          entailment = $('#entailment').val();
          sense = $('#sense').val();
          
          // todo: make ajax request to log annotation
        });
      });
    </script>
  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md" />
        <div class="col-md" style="padding: 2rem">
          <br /> 
          <h2 class="text-muted"> <strong>Is the following text human written or machine generated?</strong> </h2>
          <p class="text-muted" style="margin-bottom: 2rem;">
            Your task is to decide at what point (if at all) the sample text begins to be written by a computer. Please click the blue button <strong> as soon as</strong> you are confident.
            The boundaries are not uniformly or normally distributed, so treat every single instance in isolation.
          </p>

          <div class="card" style="margin-bottom: 2rem">
            <div class="card-body">
              <p class="text-muted">Select An Option:</p>
              <button type="button" id="machine" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
                It's a machine.
              </button>
              <button id="next" type="button" class="btn btn-secondary">I need another sentence.</button>
            </div>
          </div>

          <small class="text-muted">Human-Written Prompt:</small>

          <p style="margin-top: 0.5rem">{{prompt}}.</p>

          <small class="text-muted">Sample Text:</small>

          <div style="margin-top: 0.5rem" id="cards"></div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Thank you for your response!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>What made the text sound machine-generated?</p>
                  <form class="form-check">
                    <input type="checkbox" class="form-check-input" id="grammar">
                    <label class="form-check-label" for="grammar">Grammatical Error</label>
                    <br />
                    <input type="checkbox" class="form-check-input" id="repetition">
                    <label class="form-check-label" for="repetition">Repetition Error</label>
                    <br />
                    <input type="checkbox" class="form-check-input" id="entailment">
                    <label class="form-check-label" for="entailment">Entailment Error</label>
                    <br />
                    <input type="checkbox" class="form-check-input" id="sense">
                    <label class="form-check-label" for="sense">Common-Sense Error</label>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button"  data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </div>
         
        </div>
        <div class="col-md" />
      </div>
    </div>
  </body>
</html>