<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Annotation Tool</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      const all_sentences = {{ sentences|tojson }};

      function redraw_sentences(sentences) {
        let cards_html = "";
        sentences.forEach(sentence => {
          const card = '<div class="card" style="margin-bottom: 0.5rem"> <div class="card-body">' + sentence +  '.</div> </div> ';
          cards_html += card;
        });

        $("#cards").html(cards_html);
      }

      $(document).ready(function() {
        let current_sentence = 1;

        $("#machine" ).click(function() {
          alert("selected machine");
        });

        // adding new sentence
        $("#next" ).click(function() {
          current_sentence += 1;
          const sentences = all_sentences.slice(0, current_sentence);
          redraw_sentences(sentences);
        });

        // initial population
        const sentences = all_sentences.slice(0, current_sentence);
        redraw_sentences(sentences);  
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md" />
        <div class="col-md" style="padding: 2rem">
          <h2 class="text-muted"> <strong>Is the following text human or machine generated?</strong> </h2>
          <p class="text-muted">Please select the option that blah blah blah. Things are not uniformly distributed. Use your best judgement, and evil AI is bad.</p>

          <div style="margin-top: 1.5rem" id="cards"></div>

          <div class="card" style="margin-top: 1rem">
            <div class="card-body">
              <p class="text-muted">Select An Option:</p>
              <button id="machine" type="button" class="btn btn-info">It's a machine.</button>
              <button id="next" type="button" class="btn btn-secondary">I need another sentence.</button>
            </div>
          </div>
        </div>
        <div class="col-md" />
      </div>
    </div>
  </body>
</html>